@model  WebApplication1.Models.MyFirstModel
@{
    ViewBag.Title = "Tic Tac Toe";
}


<h2>Tic tac toe game</h2>


@using (Html.BeginForm("Button", "Default"))
{
<p>
    <button input class="Button" id="submit" name="mark" type="submit" value="0,0"> </button>
    <button input class="Button" id="submit" name="mark" type="submit" value="0,1">  </button>
    <button input class="Button" id="submit" name="mark" type="submit" value="0,2">  </button>
</p>                                                                       
<p>                                                                        
    <button input class="Button" id="submit" name="mark" type="submit" value="1,0">  </button>
    <button input class="Button" id="submit" name="mark" type="submit" value="1,1">  </button>
    <button input class="Button" id="submit" name="mark" type="submit" value="1,2">  </button>
</p>                                                                          
<p>                                                                          
    <button input class="Button" id="submit" name="mark" type="submit" value="2,0">  </button>
    <button input class="Button" id="submit" name="mark" type="submit" value="2,1">  </button>
    <button input class="Button" id="submit" name="mark" type="submit" value="2,2">  </button>
</p>
}

